.dropbtn {
  background-color: #9297C4;
  color: white;
  padding: 5px;
  font-size: large ;
  border: none;
  cursor: pointer;
  position: relative;
  top: auto;
  word-wrap: break-word;
  width: 100%;
}

.dropdown {
  left:4px;
  width: 9.8%;
  position: relative; 
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0% .8% 16% 0% rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12% 16%;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #9297C4;
}